*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #474545;
    display: flex;
    justify-content: center;
    align-items: center;
}


.big{
    width: 500px;
    height: 600px;
    background-color: #ffa500;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin-top: 40px;
}
.player{
    width: 100px;
    height: 100px;
    background-color: red;
    position:absolute;
    left: 500px;
    top: 190px;
}
.txt1{
    margin-top: 500px;
}